<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= cloudname %> | <%= lang["Add-Api-Key"] %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
</head>
<body>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

        body {
            background-image: linear-gradient(to right bottom, #1f74cc, #3c7ed1, #5087d6, #6291db, #729be0, #87a6e4, #9ab1e9, #acbced, #c5cbf1, #dadcf5, #eeedfa, #ffffff);
            width: 100vw;
            height: 100vh;
            margin: 0;
        }

        .flex-container {
            display: flex;
            width: 100%;
            height: 96%;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;
        }

        .addapikey {
            width: 20%;
            height: 20%;
            background-color: #111111;
            border-radius: 50px;
            align-items: center;
            justify-content: center;
            align-items: center;
        }

        .addapikey > h1, .addapikey > h2, .addapikey > h3, h3 {
            font-family: 'Montserrat', sans-serif;
            text-align: center;
            color: #1f74cc;
            line-height: 40%;
        }

        .addapikey > form > label {
            display: flex;
            justify-content: center;
            color: #1f74cc;
            font-family: 'Montserrat', sans-serif;
        }

        input {
            height: 20%;
            border-radius: 40px;
            border: none;
            display: flex;
            justify-self: center;
            margin: auto;
            font-size: 100%;
            padding-left: 2%;
            margin-top: 1%;
            margin-bottom: 1%;
        }

       form {
            width: 100%;
            height: 50%;
        }

        button {
            margin: auto;
            height: 20%;
            width: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #1f74cc;
            border-radius: 20px;
            font-size: 20px;
            color: white;
            border: none;
            transition-duration: 0.4s;
        }

        button:hover {
            height: 21%;
            width: auto + 1%;
            color:#1f74cc;
            background-color: white;
        }

        .footer {
            width: 40%;
            height: 3%;
            background-color: black;
            border-radius: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: auto;
            color: white;
            font-family: 'Montserrat', sans-serif;
        }

        a:link, a:visited, a:hover, a:active {
            color: #1f74cc;
            text-decoration: none;
            background-color: transparent;
        }
        /* Laptop support */
        @media screen and (max-width: 1825px) {
            .addapikey {
                width: 35%;
                height: 25%;
            }
            .footer {
                height: 5%;
            }
            .flex-container {
                height: 94%;
            }
        }
        /* Mobile support */
        @media screen and (max-width: 426px) {
            .addapikey {
                width: 70%;
                height: 25%;
            }

            .footer {
                width: 100%;
                font-size: 12px;
            }
        }
    </style>
    <div class="flex-container">
        <div class="addapikey">
            <h1><%= cloudname %></h1>
            <h2 class="subtitle"><%= lang["Add-Api-Key"] %> </h2>
            <form action="/addapikey/" method="post">
                <input name="_csrf" value=<%= csrfToken %> type="hidden"/>
                <label for="name"><i class="fa-brands fa-medapps"></i>&nbsp;<%= lang["API-Key-Name"] %></label>
                <input type="text" id="name" name="name" required></input>
                <button type="submit" id="add"><i class="fa-solid fa-plus"></i>&nbsp;<%= lang["Add-Api-Key"] %></button>
            </form>
        </div>
    </div>
    <div class="footer">
        <p><%= cloudname %> ©️ 2022 - 2023 | Developed by <a href="https://github.com/DaneeSkripter">DaneeSkripter</a></p>
    </div>
</body>
</html>