<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/login.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
      <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <title><%= cloudname %> | Admin</title>
</head>
<body>
    <style>
        body {
            background-color: #d2d3db;
            padding: 0;
            margin: 0;
        }
               h1 {
    color: #5D3FD3;
    margin-top: 10%;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: xxx-large;

}
        h2 {
            color: #5D3FD3;
    margin-top: 5px;
    text-align: left;
    font-family: "Montserrat", sans-serif;
    font-size: x-large;
        
        }
    .subtitle {
      text-align: center;
    }

    .stats {
      margin-left: 300px;
    }

    .usr {
      text-align: right;
      margin-right: 300px;
      margin-top: -230px;
    }

        .back {
        color: white;
    height: 60px;
    width: 250px;
    background-color: #5D3FD3;
    font-size: 20px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    border-radius: 24px;
    transition-duration: 0.4s;
    border:0cm
    }
    
    .back:hover {
        color: #5D3FD3;
    height: 60px;
    width: 250px;
    background-color: white;
    font-size: 20px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    border-radius: 24px;
    transition-duration: 0.4s;
    border:0cm
    }
        .footer {
    position: relative;
    padding: 10px 0px 0px 0px;
    margin-top: 10px;
    bottom: 0;
    width: 100%;
    /* Height of the footer*/
    height: 40px;
    background: black;
    color: white;
    font-family: "Montserrat", sans-serif;
    text-align: center;
}
a {
  color: #5D3FD3;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    display: inline-block;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  margin-left: 100px;
    margin-top: 20px;
}

.usrtable {
    margin-left: auto;
    margin-right: 100px;
}

.statstable {
    margin-right: auto;
    margin-left: 235px;
}

td, th {
  border: 1px solid #5D3FD3;
  text-align: left;
  padding: 8px;
  text-align: center;
  color: #5D3FD3;
  font-family: "Montserrat", sans-serif;
}

.storageplans {
  text-align: right;
  margin-right: 380px;
  margin-top: 100px;
}

select {
  background-color: #5D3FD3;
  color: white;
  border-radius: 24px;
  height: 60px;
  width: 250px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: 20px;
  margin-left: auto;
  margin-right: 300px;
  display: flex;
}

.setasdefault {
  color: white;
    height: 60px;
    width: 250px;
    background-color: #5D3FD3;
    font-size: 20px;
    margin-top: 25px;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: 300px;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    border-radius: 24px;
    transition-duration: 0.4s;
    border:0cm
}

.setasdefault:hover {
  color: #5D3FD3;
    height: 60px;
    width: 250px;
    background-color: white;
    font-size: 20px;
    margin-top: 25px;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: 300px;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    border-radius: 24px;
    transition-duration: 0.4s;
    border:0cm
}

input[id="maxStorage"] {
    height: 60px;
    width: 250px;
    background-color: white;
    font-size: 20px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: 300px;
    display: block;
    text-align: center;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    border-radius: 24px;
    transition-duration: 0.4s;
    border:0cm
}

.mb {
  color: #5D3FD3;
    margin-top: -40px;
    text-align: right;
    margin-left: auto;
    margin-right: 245px;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
}
    </style>
    <h1><%= cloudname %></h1>
    <h2 class="subtitle">Admin Panel</h2>
    <h2 class="stats">Stats</h2>
    <table class="statstable">
      <thead>
        <th>Name</th>
        <th>Value</th>
      </thead>
      <tbody>
        <tr>
          <td>Ram Usage</td>
          <td><%= Math.round(process.memoryUsage().heapUsed / 1024 / 1024) %> MB </td>
        </tr>
        <tr>
          <td>CPU Usage</td> 
          <td><%= cpuUsage.toString() %> % </td> 
        </tr>
        <tr>
          <td>Uptime</td>
          <td><%= ms(ms(Math.floor(process.uptime()).toString() + "s"), {long: true}) %></td> 
        </tr>
        <tr>
          <td>Version</td>
          <% if (packages.version == stableVersion) { %> 
          <td><%= packages.version %> </td>
          <% } else { %>
            <td><%= packages.version %> | <a href=<%= "https://github.com/DaneeSkripter/DaneeCloud/releases/tag/" + stableVersion %>><%= stableVersion %> available!</a></td> 
        <% } %> 
        </tr>
      </tbody>
    </table>
    <h2 class="usr">User management</h2>
    <table class="usrtable">
        <thead>
        <tr>
          <th>Account username</th>
          <th>Account email</th>
          <th>Is verified?</th>
          <th>Role</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
      
        <% for (let user of users) { %>
          <% let link = "/deleteaccount/" + user.username %>
          <% let link2 = "/addadmin/" + user.username %>
          <% let link3 = "/removeadmin/" + user.username %> 
          <% let link4 = "/editaccount/" + user.username %> 
          <% let isverified; %>    
          <% if (user.isVerified) { %>
            <% isverified = "Yes" %>
          <% } else { %>  
            <% isverified = "No" %>
          <% } %>   
          <tr>
            <td><%= user.username %></td>
            <td><%= user.email %> </td>
            <td><%= isverified %> </td>
            <td><%= user.role %> </td>
            <% if (user.role !== "admin") { %> 
            <td><a href=<%= link2 %>><span class="material-icons">arrow_upward</span></a>&nbsp;<a href=<%= link4 %>><span class="material-icons">edit</span></a>&nbsp;<a href=<%= link %>><span class="material-icons">delete</span></a></td>
            <% } else {%> 
                <td><a href=<%= link3 %>><span class="material-icons">arrow_downward</span></a>&nbsp;<a href=<%= link4 %>><span class="material-icons">edit</span></a>&nbsp;<a href=<%= link %>><span class="material-icons">delete</span></a></td>
                <% } %> 
            <% } %>
            
      </tr>
      </tbody>
      </table>
      <h2 class="storageplans">Roles</h2>
      <form action="/updaterole/" method="get">
        <select name="role">
          <% for (let role of roles) { %>        
          <option value=<%= role.name %>><%= role.name %> | <%= role.maxStorage %> MB</option>
          <% } %>
        </select>
        <input type="text" id="maxStorage" name="maxStorage" required placeholder="128 MB"></input><h2 class="mb">MB</h2>
        <input type="submit" class="setasdefault" value="Update role"></input>
      </form> 
      <form action="/">
        <input type="submit" class="back" href="/" value="Back to home page"></input>
        </form>
    <footer>
        <div class="footer">DaneeSkripter © 2022 - 2023 All rights reserved</div>
    
    </footer>
</body>
</html>