<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/login.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
      <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <title><%= cloudname %> | Admin</title>
</head>
<body>
    <style>
        body {
            background-color: #d2d3db;
            padding: 0;
            margin: 0;
        }
               h1 {
    color: #5D3FD3;
    margin-top: 10%;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: xxx-large;

}
        h2 {
            color: #5D3FD3;
    margin-top: 5px;
    text-align: left;
    font-family: "Montserrat", sans-serif;
    font-size: x-large;
        
        }
    .subtitle {
      text-align: center;
    }

    .stats {
      margin-left: auto;
      margin-right: auto;
      text-align: center;
    }

    .usr {
      text-align: center;
      margin-right: auto;
      margin-top: 25px;
    }

        .back {
        color: white;
    height: 60px;
    width: 250px;
    background-color: #5D3FD3;
    font-size: 20px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    border-radius: 24px;
    transition-duration: 0.4s;
    border:0cm
    }
    
    .back:hover {
        color: #5D3FD3;
    height: 60px;
    width: 250px;
    background-color: white;
    font-size: 20px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    border-radius: 24px;
    transition-duration: 0.4s;
    border:0cm
    }
        .footer {
    position: relative;
    padding: 10px 0px 0px 0px;
    margin-top: 10px;
    bottom: 0;
    width: 100%;
    /* Height of the footer*/
    height: 40px;
    background: black;
    color: white;
    font-family: "Montserrat", sans-serif;
    text-align: center;
}
a {
  color: #5D3FD3;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    display: inline-block;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  margin-left: 100px;
    margin-top: 20px;
}

.usrtable {
    margin-left: auto;
    margin-right: auto;
}

.statstable {
    margin-right: auto;
    margin-left: auto;
}

td, th {
  border: 1px solid #5D3FD3;
  text-align: left;
  padding: 8px;
  text-align: center;
  color: #5D3FD3;
  font-family: "Montserrat", sans-serif;
}

.storageplans {
  text-align: center;
  margin-right: auto;
  margin-top: 25px;
}

select {
  background-color: #5D3FD3;
  color: white;
  border-radius: 24px;
  height: 60px;
  width: 250px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: 20px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}
.add {
  color: white;
    height: 40px;
    width: 125px;
    background-color: #5D3FD3;
    font-size: 20px;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    border-radius: 24px;
    transition-duration: 0.4s;
    border:0cm
}

.add:hover {
  color: #5D3FD3;
    height: 40px;
    width: 125px;
    background-color: white;
    font-size: 20px;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    border-radius: 24px;
    transition-duration: 0.4s;
    border:0cm
}

.del {
  color: white;
    height: 40px;
    width: 135px;
    background-color: #5D3FD3;
    font-size: 20px;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    border-radius: 24px;
    transition-duration: 0.4s;
    border:0cm
}

.del:hover {
  color: #5D3FD3;
    height: 40px;
    width: 135px;
    background-color: white;
    font-size: 20px;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    border-radius: 24px;
    transition-duration: 0.4s;
    border:0cm
}
.setasdefault {
  color: white;
    height: 60px;
    width: 250px;
    background-color: #5D3FD3;
    font-size: 20px;
    margin-top: 25px;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    border-radius: 24px;
    transition-duration: 0.4s;
    border:0cm
}

.setasdefault:hover {
  color: #5D3FD3;
    height: 60px;
    width: 250px;
    background-color: white;
    font-size: 20px;
    margin-top: 25px;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    border-radius: 24px;
    transition-duration: 0.4s;
    border:0cm
}

input[id="maxStorage"] {
    height: 60px;
    width: 250px;
    background-color: white;
    font-size: 20px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    border-radius: 24px;
    transition-duration: 0.4s;
    border:0cm
}

.mb {
  color: #5D3FD3;
    margin-top: -40px;
    text-align: center;
    margin-left: 300px;
    margin-right: auto;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
}

label[for="badge"] {     
  color: #5D3FD3;
    margin-top: 5px;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    display: flex;
    justify-content: center;
    font-size: 20px;
}

input[id="badge"] {
    height: 60px;
    width: 250px;
    background-color: white;
    font-size: 20px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    border-radius: 24px;
    transition-duration: 0.4s;
    border:0cm
}

input[id="searchBar"] {
    height: 60px;
    width: 250px;
    background-color: white;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    border-radius: 24px;
    transition-duration: 0.4s;
    border:0cm
}


.material-icons.md-36 { font-size: 36px;   margin-top: 20px;}
    </style>
    <h1><%= cloudname %></h1>
    <h2 class="subtitle">Admin Panel</h2>
    <h2 class="stats">Stats</h2>
    <table class="statstable">
      <thead>
        <th>Name</th>
        <th>Value</th>
      </thead>
      <tbody>
        <tr>
          <td>Ram Usage</td>
          <td><%= Math.round(process.memoryUsage().heapUsed / 1024 / 1024) %> MB </td>
        </tr>
        <tr>
          <td>CPU Usage</td> 
          <td><%= cpuUsage.toString() %> % </td> 
        </tr>
        <tr>
          <td>Uptime</td>
          <td><%= ms(ms(Math.floor(process.uptime()).toString() + "s"), {long: true}) %></td> 
        </tr>
        <tr>
          <td>Version</td>
          <% if (packages.version == stableVersion) { %> 
          <td>v<%= packages.version %> </td>
          <% } else { %>
            <td>v<%= packages.version %> | <a href=<%= "https://github.com/DaneeSkripter/DaneeCloud/releases/tag/v" + stableVersion %>>v<%= stableVersion %> available!</a></td> 
        <% } %> 
        </tr>
      </tbody>
    </table>
    <h2 class="usr">User management</h2>
    <script>
      function searchBar() {
  // Declare variables
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("searchBar");
  filter = input.value.toUpperCase();
  table = document.getElementById("users");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
    </script>
    <input type="text" id="searchBar" onkeyup="searchBar()" placeholder="Search for username">
    <table class="usrtable" id="users">
        <thead>
        <tr>
          <th>Account username</th>
          <th>Account email</th>
          <th>Is verified?</th>
          <th>IP address</th>
          <th>Role</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
      
        <% for (let user of users) { %>
          <% let link = "/deleteaccount/" + user.username %>
          <% let link2 = "/editrole/" + user.username %> 
          <% let link4 = "/editaccount/" + user.username %> 
          <% let userrole = user.role %>
          <% let isverified; %>    
          <% if (user.isVerified) { %>
            <% isverified = "Yes" %>
          <% } else { %>  
            <% isverified = "No" %>
          <% } %>   
          <tr>
            <% let badge = roles.filter((obj) => {return obj.name == user.role})[0].badge   %>
            <td><%= user.username %> | <img title=<%= user.role %> src=<%= badge %> width="20" height="20"></img></td>
            <td><%= user.email %> </td>
            <td><%= isverified %> </td>
            <% if (config.registerip) { %>
            <td><%= user.ip %></td>
            <% } else { %>
              <td>-</td>
            <% } %>
            <td><%= user.role %> </td> 
            <td><a href=<%= link2 %>><span class="material-icons">contact_mail</span></a>&nbsp;<a href=<%= link4 %>><span class="material-icons">edit</span></a>&nbsp;<a href=<%= link %>><span class="material-icons">delete</span></a></td>            <% } %>
            
          </tr>
          
      </tbody>
      </table>
      <h2 class="storageplans">Roles</h2>
      <form action="/addrole/">
      <input type="submit" class="add" value="Add role"></input>
    </form>
    <form action="/delrole/">
      <input type="submit" class="del" value="Remove role"></input>
    </form>
      <form action="/updaterole/" method="post">
        <select name="role">
          <% for (let role of roles) { %>        
          <option value=<%= role.name %>><%= role.name %> | <%= role.maxStorage %> MB</option>
          <% } %>
        </select>
        <input name="_csrf" value=<%= csrfToken %> type="hidden"/>
        <input type="text" id="maxStorage" name="maxStorage" required placeholder="128 MB"></input><h2 class="mb">MB</h2>
        <label for="badge"><span class="material-icons">verified</span>&nbsp;URL of badge (not required)</label>
        <input type="text", id="badge", name="badge"></input>
        <input type="submit" class="setasdefault" value="Update role"></input>
      </form>
      <h2 class="storageplans">API Keys</h2>
      <form action="/addapikey/">
        <input type="submit" class="back" value="Add API key"></input>
      </form> 
    <table class="usrtable">
        <thead>
          <tr>
            <th>API Key name</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
            <% for (let apiKey of apiKeys) { %>
              <% let apiKeyLink = "/delapikey/" + apiKey.name %>
              <tr>
              <td><%= apiKey.name %></td>
              <td><a href=<%= apiKeyLink %>><span class="material-icons">delete</span></a></td>
            </tr>
            <% } %>
        </tbody>
      </table>
      <form action="/">
        <input type="submit" class="back" href="/" value="Back to home page"></input>
        </form>
    <footer>
             <div class="footer"><%= cloudname %> © 2022 - 2023 | Developed by <a href="https://github.com/DaneeSkripter">DaneeSkripter</a></div>
    
    </footer>
</body>
</html>