<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= cloudname %> | <%= lang["Delete-Role"] %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
</head>
<body>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

        body {
            background-image: linear-gradient(to right bottom, #1f74cc, #3c7ed1, #5087d6, #6291db, #729be0, #87a6e4, #9ab1e9, #acbced, #c5cbf1, #dadcf5, #eeedfa, #ffffff);
            width: 98vw;
            height: 98vh;
        }

        .flex-container {
            display: flex;
            width: 100%;
            height: 95%;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;
        }

        .delrole {
            width: 35%;
            height: 25%;
            background-color: #111111;
            border-radius: 50px;
            padding-bottom: 2%;
            padding-right: 1%;
            padding-left: 1%;
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
        }

        .delrole > h1, .delrole > h2, .delroles > h3, h3 {
            font-family: 'Montserrat', sans-serif;
            text-align: center;
            color: #1f74cc;
            line-height: 40%;
        } 

        form {
            display: flex;
            width: 100%;
            height: 100%;
            flex-flow: column nowrap;
            justify-content: center;
        }
        
        select {
            width: 41%;
            height: 21%;
            display: flex;
            margin: auto;
            text-align: center;
            border-radius: 20px;
            font-size: 20px;
            background-color: #1f74cc;
            color: white;
        }

        button {
            margin: auto;
            height: 30%;
            width: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #1f74cc;
            border-radius: 20px;
            font-size: 20px;
            color: white;
            border: none;
            transition-duration: 0.4s;
        }

        button:hover {
            height: 31%;
            width: auto + 1%;
            color:#1f74cc;
            background-color: white;
        }

        .footer {
            width: 40%;
            height: 5%;
            background-color: black;
            border-radius: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: auto;
            color: white;
            font-family: 'Montserrat', sans-serif;
        }

        a:link, a:visited, a:hover, a:active {
            color: #1f74cc;
            text-decoration: none;
            background-color: transparent;
        }

        @media screen and (max-width: 426px) {
            .delrole {
                width: 90%;
                height: 35%;
            }

            .footer {
                width: 100%;
                font-size: 12px;
            }
        }
    </style>
    <div class="flex-container">
        <div class="delrole">
            <h1><%= cloudname %></h1>
            <h2 class="subtitle"><%= lang["Delete-Role"] %></h2>
            <form action="/delrole/" method="post">
                <input name="_csrf" value=<%= csrfToken %> type="hidden"/>
                <select name="role">
                <% for (let role of roles) { %>
                    <option value=<%= role.name %>><%= role.name %> | <%= role.maxStorage %> MB</option>
                <% } %>
                </select>
                <button type="submit"><i class="fa-solid fa-trash"></i>&nbsp;<%= lang["Delete-Role"] %></button>
            </form>
        </div>
    </div>
    <div class="footer">
        <p><%= cloudname %> ©️ 2022 - 2023 | Developed by <a href="https://github.com/DaneeSkripter">DaneeSkripter</a></p>
    </div>
</body>
</html>