<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/login.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
      <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <title><%= cloudname %> | <%= lang["Log-In"] %></title>
</head>
<body>
    <style>
        body {
    background-color: #d2d3db;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
}

h1 {
    color: #5D3FD3;
    margin-top: 10%;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: xxx-large;

}

.subtitle {
    color: #5D3FD3;
    margin-top: -5px;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: x-large;
}

.footer {
    position: fixed;
    padding: 10px 10px 0px 10px;
    bottom: 0;
    width: 100%;
    /* Height of the footer*/
    height: 40px;
    background: black;
    color: white;
    font-family: "Montserrat", sans-serif;
    text-align: center;
}

label[for="name"] {
    color: #5D3FD3;
    margin-top: 5px;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    display: flex;
    justify-content: center;
    font-size: 20px;

}

input[id="name"] {
    height: 60px;
    width: 250px;
    background-color: white;
    font-size: 20px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    border-radius: 24px;
    transition-duration: 0.4s;
    border:0cm
}
label[for="password"] {
    color: #5D3FD3;
    margin-top: 10px;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    display: flex;
    justify-content: center;
    font-size: 20px;
}
input[id="password"] {
    height: 60px;
    width: 250px;
    background-color: white;
    font-size: 20px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    border-radius: 24px;
    transition-duration: 0.4s;
    border:0cm
}

button[id="login"] {
    color: white;
    height: 60px;
    width: 250px;
    background-color: #5D3FD3;
    font-size: 20px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    border-radius: 24px;
    transition-duration: 0.4s;
    border:0cm
}

button[id="login"]:hover {
    color: #5D3FD3;
    height: 60px;
    width: 250px;
    background-color: white;
    font-size: 20px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    border-radius: 24px;
    transition-duration: 0.4s;
    border:0cm
}

a {
    color: #5D3FD3;
    margin: auto;
    font-family: "Montserrat", sans-serif;
    font-size: medium;
    margin-top: 10px;
}
::-webkit-input-placeholder {
    text-align: center;
  }
  
  :-moz-placeholder {
    text-align: center;
  }
  :-ms-input-placeholder {  
    text-align: center; 
 }


div {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
 }

    </style>
    <h1><%= cloudname %></h1>
    <% if (messages.error) {%>
    <%= messages.error %>
    <% } %>  
    <script>
        window.addEventListener('load', () => {
            const $recaptcha = document.querySelector('#g-recaptcha-response');
            if ($recaptcha) {
                $recaptcha.setAttribute('required', 'required');
            }
        })
    </script>
    <h2 class="subtitle"><%= lang["Log-In"] %></h2>
    <form action="/login" method="post">
        <input name="_csrf" value=<%= csrfToken %> type="hidden"/>
        <label for="name"><span class="material-icons">account_circle</span>&nbsp;<%= lang["Username2"] %></label>
        <input type="text", id="name", name="name" required></input>
        <label for="password"><span class="material-icons">lock</span>&nbsp;<%= lang["Password"] %></label>
        <input type="password", id="password", name="password" required></input>
        <div class="g-recaptcha" data-sitekey=<%= RCAPTCHA_SITE_KEY %>></div>
        <br/>
        <button type="submit" id="login"><span class="material-icons">login</span>&nbsp;<%= lang["Log-In"] %></button>
    </form>
    <a href="/register"><%= lang["noaccount"] %></a>
    <footer>
               <div class="footer"><%= cloudname %> © 2022 - 2023 | Developed by <a href="https://github.com/DaneeSkripter">DaneeSkripter</a></div>
    
    </footer>
</body>
</html>