<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= cloudname %> | <%= lang["Log-In"] %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</head>
<body>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

        body {
            background-image: linear-gradient(to right bottom, #1f74cc, #3c7ed1, #5087d6, #6291db, #729be0, #87a6e4, #9ab1e9, #acbced, #c5cbf1, #dadcf5, #eeedfa, #ffffff);
            width: 98vw;
            height: 98vh;
        }

        .flex-container {
            display: flex;
            width: 100%;
            height: 100%;
            flex-flow: column nowrap;
            align-items: center;
            justify-content: center;
        }
        .login {
            width: 35%;
            height: 45%;
            background-image: linear-gradient(to left top, #1f74cc, #3c7ed1, #5087d6, #6291db, #729be0, #87a6e4, #9ab1e9, #acbced, #c5cbf1, #dadcf5, #eeedfa, #ffffff);            
            border-radius: 50px;
            align-items: center;
            justify-content: center;
        }

        .login > h1, .login > h2 {
            font-family: 'Montserrat', sans-serif;
            text-align: center;
            color: #1f74cc;
            line-height: 50%;
        }

        .login > form > label {
            display: flex;
            justify-content: center;
            color: #1f74cc;
            font-family: 'Montserrat', sans-serif;
            font-size: 25px;
        }

        input {
            height: 20%;
            border-radius: 40px;
            border: none;
            display: flex;
            justify-self: center;
            margin: auto;
            font-size: 100%;
            padding-left: 2%;
            margin-top: 1%;
            margin-bottom: 1%;
        }

       form {
            width: 100%;
            height: 50%;
        }

        button {
            margin: auto;
            height: 20%;
            width: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #1f74cc;
            border-radius: 20px;
            font-size: 20px;
            color: white;
            border: none;
            transition-duration: 0.4s;
        }

        button:hover {
            height: 21%;
            width: auto + 1%;
            color:#1f74cc;
            background-color: white;
        }

       .register {
            margin-top: 2%;
        }
        
        @media screen and (max-width: 426px) {
            .login {
                width: 70%;
                height: 45%;
            }
            button {
                margin-top: 2%;
            }

            .register {
                margin-top: 5%;
            }
        }
    </style>
    <% if (config.enableRecaptcha) { %>
        <script>
       function onSubmit(token) {
         document.getElementById("loginform").submit();
       }
        </script>
        <% } %>
    <div class="flex-container">
    <div class="login">
        <h1><b><%= cloudname %></b></h1>
        <h2><%= lang["Log-In"] %></h2>
        <form action="/login" method="post" id="loginform">
            <input name="_csrf" value=<%= csrfToken %> type="hidden"/>
            <label for="name">&nbsp;<i class="fa-solid fa-user"></i>&nbsp;<%= lang["Username2"] %></label>
            <input type="text", id="name", name="name" required></input>
            <label for="password"><i class="fa-solid fa-lock"></i>&nbsp;<%= lang["Password"] %></label>
            <input type="password", id="password", name="password" required></input>
            <button type="submit" class="g-recaptcha" data-sitekey=<%= RCAPTCHA_SITE_KEY %> data-callback="onSubmit"><i class="fa-solid fa-right-to-bracket"></i>&nbsp;<%= lang["Log-In"] %></button>
        </form>
        <form class="registerform" action="/register">
        <button class="register" type="submit"><i class="fa-solid fa-user-plus"></i>&nbsp;<%= lang["Register"] %></button>
        </form>
        </div>
    </div>
</body>
</html>