<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/login.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
      <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <title><%= cloudname %> | <%= lang["Rename"] %></title>
</head>
<body>
    <style>
        body {
    background-color: #d2d3db;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h1 {
    color: #5D3FD3;
    margin-top: 10%;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: xxx-large;

}

.subtitle {
    color: #5D3FD3;
    margin-top: -5px;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: x-large;
}

.footer {
    position: fixed;
    padding: 10px 10px 0px 10px;
    bottom: 0;
    width: 100%;
    /* Height of the footer*/
    height: 40px;
    background: black;
    color: white;
    font-family: "Montserrat", sans-serif;
    text-align: center;
}

label[for="newname"] {
    color: #5D3FD3;
    margin-top: 5px;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    display: flex;
    justify-content: center;
    font-size: 20px;

}

input[id="newname"] {
    height: 60px;
    width: 250px;
    background-color: white;
    font-size: 20px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    border-radius: 24px;
    transition-duration: 0.4s;
    border:0cm
}


button[id="rename"] {
    color: white;
    height: 60px;
    width: 250px;
    background-color: #5D3FD3;
    font-size: 20px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    border-radius: 24px;
    transition-duration: 0.4s;
    border:0cm
}

button[id="rename"]:hover {
    color: #5D3FD3;
    height: 60px;
    width: 250px;
    background-color: white;
    font-size: 20px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    border-radius: 24px;
    transition-duration: 0.4s;
    border:0cm
}
::-webkit-input-placeholder {
    text-align: center;
  }
  
  :-moz-placeholder {
    text-align: center;
  }
  :-ms-input-placeholder {  
    text-align: center; 
 }


    </style>
    <h1><%= cloudname %></h1>
    <h2 class="subtitle"><%= lang["Rename"] %> <%= file %> </h2>
    <% let renameurl =  "/rename/" + file%> 
    <form action=<%= renameurl %> method="post">
        <input name="_csrf" value=<%= csrfToken %> type="hidden"/>
        <label for="newname"><span class="material-icons">edit</span>&nbsp;<%= lang["New-Name"] %></label>
        <input type="text", id="newname", name="newname" required></input>
        <button type="submit" id="rename"><span class="material-icons">edit</span>&nbsp;<%= lang["Rename"] %></button>
    </form>
    <footer>
               <div class="footer"><%= cloudname %> © 2022 - 2023 | Developed by <a href="https://github.com/DaneeSkripter">DaneeSkripter</a></div>
    
    </footer>
</body>
</html>