<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= cloudname %> | <%= lang["Verify"] %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
</head>
<body>
    <style>
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

    body {
            background-image: linear-gradient(to right bottom, #1f74cc, #3c7ed1, #5087d6, #6291db, #729be0, #87a6e4, #9ab1e9, #acbced, #c5cbf1, #dadcf5, #eeedfa, #ffffff);
            width: 98vw;
            height: 98vh;
        }

        .flex-container {
            display: flex;
            width: 100%;
            height: 85%;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;
        }

        .verify {
            width: 35%;
            height: 50%;
            background-color: #111111;
            border-radius: 50px;
            align-items: center;
            justify-content: center;
            align-items: center;
        }

        .verify > h1, .verify > h2, .verify > h3, h3 {
            font-family: 'Montserrat', sans-serif;
            text-align: center;
            color: #1f74cc;
            line-height: 80%;
        }

        input[type="text"] {
            display: none;
        }

         form {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        button {
            width: 55%;
            height: 10%;
            background-color: #1f74cc;
            border-radius: 20px;
            font-size: 20px;
            color: white;
            border: none;
            transition-duration: 0.4s;
            font-family: "Montserrat", sans-serif;
        }

       button:hover {
            background-color: white;
            color: #1f74cc;
            width: 56%;
            height: 11%;
            }

        a:link, a:visited, a:hover, a:active {
            margin-top: 2%;
            font-family: "Montserrat", sans-serif;
            color: #1f74cc;
            text-decoration: none;
            background-color: transparent;
        }
    </style>
    <div class="flex-container">
        <div class="verify">
            <h1><%= cloudname %></h1>
            <h2><%= lang["Send-Verify"] %> <%= req.user.email %></h2>
            <form action="/verify" method="post">
                <input name="_csrf" value=<%= csrfToken %> type="hidden"/>
                <input type="text"></input>
                <button id="send" type="submit" ><%= lang["Send-Verify2"] %></button>
                <a href="/verifycode"><%= lang["Have-Code"] %></a>
            </form>
        </div>
    </div>
</body>
</html>