<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= cloudname %></title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
</head>
<body>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

  body {
    background-image: linear-gradient(to right bottom, #1f74cc, #3c7ed1, #5087d6, #6291db, #729be0, #87a6e4, #9ab1e9, #acbced, #c5cbf1, #dadcf5, #eeedfa, #ffffff);
    width: 98vw;
    height: 98vh;
  }

  .flex-container {
    display: flex;
    width: 100%;
    height: 85%;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }

  .vidplayer {
    width: 55%;
    height: 70%;
    background-color: #111111;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
  }

  .vidplayer > h1, .vidplayer > h2 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: #1f74cc;
    line-height: 40%;
  }

  video {
    width: 80%;
    height: 80%;
  }

  button {
          display: flex;
            justify-content: center;
            align-items: center;
            margin: 10% auto;
            width: 100%;
            height: 60%;
            background-color: #1f74cc;
            border-radius: 20px;
            font-size: 20px;
            color: white;
            border: none;
            transition-duration: 0.4s;
            font-family: "Montserrat", sans-serif;
        }
        button:hover {
            height: 61%;
            width: auto + 1%;
            color:#1f74cc;
            background-color: white;
        }
        .footer {
            width: 40%;
            height: 5%;
            background-color: black;
            border-radius: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: auto;
            color: white;
            font-family: 'Montserrat', sans-serif;
        }

        a:link, a:visited, a:hover, a:active {
            color: #1f74cc;
            text-decoration: none;
            background-color: transparent;
            font-size: 20px;
        }

        @media screen and (max-width: 426px) {
            .vidplayer {
                width: 90%;
                height: 45%;
            }

            .footer {
                width: 100%;
                font-size: 12px;
            }
        }
  </style>
  <div class="flex-container">
    <div class="vidplayer">
      <h1><%= cloudname %></h1>
      <video controls preload="metadata">
        <source src=<%= "/files/" + username + "/" + file %>   type=<%= "video/" + vidtag%> >
        <track label="None" kind="subtitles" default>
        <track label=<%= subtitles.subtitlename%> kind="subtitles" src=<%= subtitles.subtitleurl%>/>
    </video>
    </div>
    <form action="/">
      <button type="submit"><i class="fa-solid fa-arrow-left-long"></i>&nbsp;<%= lang["Back"] %></button>
    </form>
  </div>
  <div class="footer">
    <p><%= cloudname %> ©️ 2022 - 2023 | Developed by <a href="https://github.com/DaneeSkripter">DaneeSkripter</a></p>
</div>
</body>
</html>